body {
    /*background-image: url('../img/background.svg');
    background-size: 1366px;*/
    background: lavenderblush;
}

code {
    background: khaki;
}

.note {
    font-size:  11px;
    color: gray;
    font-weight: bold;
}
.welcome-form {
    margin-top: 30px;
}

.welcome-form input{
    border: 1px dotted black;
}

.welcome-btn button a{
    color: white;
    border-radius:  1px;
}

.welcome-btn, .welcome-status {
    margin-top: 15px;
}

.getstartbtn {
    margin-top:  30px;
    margin-bottom: 15px;
}

input {
    width:  100%;
    padding:  3px;
    margin-bottom: 5px;
}

textarea {
    width:  100%;
}

button.btn.btn-default {
    border-radius: 0px;
}

.edit-delete {
    width:  15px;
    margin-right: 10px;
}

.navbar {
    background-color: #ffffff;
    box-shadow: 2px 2px 2px grey;
}

.navbar a{
    color: black;
}